@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-base: #1e1e2e;
  --color-base-mantle: #1e2030;
  --color-base-crust: #181926;
  --color-red: #ed8796;
  --color-maroon: #ee99a0;
  --color-peach: #f5a97f;
  --color-yellow: #eed49f;
  --color-green: #a6da95;
  --color-teal: #8bd5ca;
  --color-sky: #91d7e3;
  --color-sapphire: #7dc4e4;
  --color-blue: #8aadf4;
  --color-lavender: #b7bdf8;
  --color-text: #cad3f5;
  --color-subtext1: #b8c0e0;
  --color-subtext0: #a5adcb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
