@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-jetbrainsReg: JetBrainsReg;
  --font-jetbrainsBold: JetBrainsBold;
  --font-jetbrainsItalic: JetBrainsItalic;
  /*--color-text: #415466;*/
  --color-text: #748CA3;
  --color-dark: #000814;
  /*--color-mid: #001D3D;*/
  /*--color-mid: #182634;*/
  --color-mid: #242C33;
  --color-light: #003566;
  --color-highlight-red: #F71735;
  --color-highlight-blue: #41EAD4;
  --color-b100: #1d232a;
  --color-b150: #181e25;
  --color-b200: #191e24;
  --color-b300: #15191e;
  --color-b400: #0f1318;
}

@utility no-scrollbar {
  scrollbar-width: none;
}

@font-face {
    font-family: JetBrainsReg;
    src: url("../assets/fonts/JetBrains/webfont/JetBrainsMono-Regular.woff2") format("woff2");
}

@font-face {
    font-family: JetBrainsBold;
    src: url("../assets/fonts/JetBrains/webfont/JetBrainsMono-Bold.woff2") format("woff2");
}

@font-face {
  font-family: JetBrainsItalic;
  src: url("../assets/fonts/JetBrains/webfont/JetBrainsMono-Italic.woff2");
}

._tab {
  padding: .75em 1em .75em 1em;
  background-color: var(--color-b150);
  color: var(--color-text);
  user-select: none;
}

._activeTab {
  background-color: var(--color-b100);
  color: white;
}

._skills {
  margin-bottom: 1em;
}

@keyframes blink {
  50% {opacity: 0;};
}

#cursorHeader {
  animation: blink 1s step-start infinite;
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    opacity: 1;
  }
  20%, 24%, 55% {
    opacity: 0.3;
  }
}