@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-jetbrainsReg: JetBrainsReg;
  --font-jetbrainsBold: JetBrainsBold;
  --font-jetbrainsItalic: JetBrainsItalic;
  
  --color-teal: #00BFA6;
  --color-headerBG: #c9cfda;
  --color-headerText: #033030;
  --color-headerIcons: #55657D;
  --color-sbBG: #E9EDF2;
  --color-sbIcon: #55657D;
  --color-inactiveTabBG: #F1F3F6;
  --color-inactiveTabText: #687B94;
  --color-activeTabBG: white;
  --color-activeTabText: #1A1F25;
  --color-taskbarBG: #dee6fb;
  --color-highlight: #1F2457;
  --color-mainBG: #f0f4fe;
}

.dark {
  --color-teal: #41EAD4;
  --color-headerBG: #0f1318;
  --color-headerText: #41EAD4;
  --color-headerIcons: #F0F9FF;
  --color-sbBG: #15191e;
  --color-sbIcon: #9AA9BE;
  --color-inactiveTabBG: #181e25;
  --color-inactiveTabText: #9AA9BE;
  --color-activeTabBG: #1d232a;
  --color-activeTabText: white;
  --color-taskbarBG: #0f1318;
  --color-highlight: #41EAD4;
  --color-mainBG: #121921;
}

@utility no-scrollbar {
  scrollbar-width: none;
}

@font-face {
    font-family: JetBrainsReg;
    src: url("../assets/fonts/JetBrains/webfont/JetBrainsMono-Regular.woff2") format("woff2");
}

@font-face {
    font-family: JetBrainsBold;
    src: url("../assets/fonts/JetBrains/webfont/JetBrainsMono-Bold.woff2") format("woff2");
}

@font-face {
  font-family: JetBrainsItalic;
  src: url("../assets/fonts/JetBrains/webfont/JetBrainsMono-Italic.woff2");
}

._tab {
  padding: .75em 1em .75em 1em;
  background-color: var(--color-inactiveTabBG);
  color: var(--color-inactiveTabText);
  user-select: none;
  cursor: pointer;
}

._activeTab {
  background-color: var(--color-activeTabBG);
  color: var(--color-activeTabText);
}

/* ._tabContent {
  background-color: var(--color-activeTabBG);
  color: var(--color-activeTabText);
} */

._skills {
  margin-bottom: 1em;
}
/* will use in the future, currently not used
._blogHeader {
  font-size: x-large;
  color: var(--color-highlight);
  font-family: JetBrainsBold;
  border-bottom: 3px;
  border-style: double;
}
*/

@keyframes blink {
  50% {opacity: 0;};
}

#cursorHeader {
  animation: blink 1s step-start infinite;
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    opacity: 1;
  }
  20%, 24%, 55% {
    opacity: 0.3;
  }
}